<html>
  <head>
		<link rel="stylesheet" href="/styles.css" type="text/css" />
  </head>
  <body id="recon-script">
    <h1>Directory listing for <%= sub_path %></h1>
    <h2>Directories</h2>
    <ul class="file-list" style="font-family: monospace"> 
      <% dirs.each do |dir| %>
        <li>
          <a href="<%= File.join(sub_path, url_encode(dir)) %>"><%= dir %></a>
        </li>
      <% end %>
    </ul>
    <h2>Files</h2>
    <ul class="file-list" style="font-family: monospace"> 
      <% files.each do |file| %>
        <li>
          <% begin %>
            <a href="<%= File.join(sub_path, url_encode(file)) %>"><%= file %> (<%= File.size(File.join(base_dir, sub_path, file)) %>)</a>
          <% rescue StandardError => e %>
            Error processing <%= file %>: <%= e.to_s %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
